/* Estilos específicos para a página garantiafabricante.css */

#pesquisa-garantia {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#pesquisa-garantia h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#garantia-form {
    display: flex;
    flex-direction: column;
}

#garantia-form label,
#garantia-form select,
#garantia-form button {
    font-size: 16px;
    margin-bottom: 10px;
}

#garantia-form select,
#garantia-form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#garantia-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#garantia-form button:hover {
    background-color: #0056b3;
}

#resultado-garantia {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.mensagem-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    white-space: pre-wrap;
    text-align: left;
    overflow: hidden;
}

#copiar-informacoes {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copiar-informacoes:hover {
    background-color: #218838;
}
